<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="nav navbar-inverse navbar-fixed-top" role="navgation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav">
                <li><a href="#">首页</a></li>
                <li ><a href="/admin/user/userList">用户列表</a></li>
                <li class="active"><a href="/admin/machine/getMachineList">机器列表</a></li>
                <li><a href="#">订单列表</a></li>
            </ul>
        ##            <div class="navbar-form navbar-right" style="margin-right: 30px;">
        ##                <input type="text" class="form-control" name="" placeholder="请输入搜索内容">
        ##                <button class="btn btn-success" style="margin-right: 30px;">搜索</button>
        ##                <a href="#" class="navbar-link">注册</a>
        ##                <a href="#" class="navbar-link">登录 </a>
        ##            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3>用户列表</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>机器名</td>
                    <td>娃娃名</td>
                    <td>机器地址</td>
                    <td>摄像头1</td>
                    <td>摄像头2</td>
                    <td>直播地址</td>
                    <td>游戏币</td>
                </tr>
                </thead>
                <tbody>
                    #foreach($mac in $list)
                    <tr>
                        <td>$mac.id</td>
                        <td>$mac.machineName</td>
                        <td>$mac.dollName</td>
                        <td>$mac.ipAddress</td>
                        <td>$mac.video1</td>
                        <td>$mac.video2</td>
                        <td>$mac.video3</td>
                        <td>$mac.gameMoney</td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    </div>
</div>




##    <nav aria-label="...">
##        <ul class="pager">
##            第 $pageNum 页
##            #if($pageNum!=1)
##                <li><a href="/admin/user/userList?page=$prePage">上一页</a></li>
##            #end
##            #if($pageNum!=$nextPage)
##                <li><a href="/admin/user/userList?page=$nextPage">下一页</a></li>
##            #end
##        </ul>
##    </nav>


<div class="dropdown pull-right">

    第 $pageNum 页
    #if($pageNum!=1)
        <a href="/admin/machine/getMachineList?pakge=$prePage">上一页</a>
    #end
    #if($pageNum!=$nextPage)
        <a href="/admin/machine/getMachineList?page=$nextPage">下一页</a>
    #end

    跳转到
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        $pageNum
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        #foreach($n in $numbers)
            <li><a href="/admin/user/userList?page=$n">$n</a></li>
        #end
    </ul>
</div>



</body>
</html>