<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="nav navbar-inverse navbar-fixed-top" role="navgation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav">
                <li><a href="#">首页</a></li>
                <li><a href="/admin/user/userList">用户列表</a></li>
                <li class="active"><a href="/admin/machine/getMachineList">机器列表</a></li>
                <li><a href="/admin/order/orderList">订单列表</a></li>
                <li><a href="/admin/order/rechargePackageList">套餐列表</a></li>
            </ul>
        ##            <div class="navbar-form navbar-right" style="margin-right: 30px;">
        ##                <input type="text" class="form-control" name="" placeholder="请输入搜索内容">
        ##                <button class="btn btn-success" style="margin-right: 30px;">搜索</button>
        ##                <a href="#" class="navbar-link">注册</a>
        ##                <a href="#" class="navbar-link">登录 </a>
        ##            </div>
        </div>
    </div>
</nav>


<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="form-group">
        <label for="exampleInputEmail1">编号</label>
        <input id="id" name="id" type="text" value="$mac.id"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">机器名</label>
        <input id="machineName" name="machineName" type="text" value="$mac.machineName"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">娃娃名</label>
        <input id="dollName" name="dollName" type="text" value="$mac.dollName"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">地址</label>
        <input id="ipAddress" name="ipAddress" type="text" value="$mac.ipAddress"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">机器图片</label>
        <img src="$mac.machineImg" alt="Smiley face" width="42" height="42">
        <form method="POST" enctype="multipart/form-data" action="/admin/machine/uploadMachineImg">
            <p>文件：<input type="file" name="file"/></p>
            <input type="hidden" id="machineId" name="machineId" value="$mac.id"/>
            <p><input type="submit" value="上传"/></p>
        </form>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">娃娃图片</label>
        <img src="$mac.dollImg" alt="Smiley face" width="42" height="42">
        <form method="POST" enctype="multipart/form-data" action="/admin/machine/uploadDollImg">
            <p>文件：<input type="file" name="file"/></p>
            <input type="hidden" id="machineId" name="machineId" value="$mac.id"/>
            <p><input type="submit" value="上传"/></p>
        </form>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">摄像头1</label>
        <input id="video1" name="video1" type="text" value="$mac.video1"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">摄像头2</label>
        <input id="video2" name="video2" type="text" value="$mac.video2"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">直播地址</label>
        <input id="video3" name="video3" type="text" value="$mac.video3"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">游戏币</label>
        <input id="gameMoney" name="gameMoney" type="text" value="$mac.gameMoney"/>
    </div>

    <button type="button" class="btn btn-primary" onclick="updateMachine()">保存</button>
</div>


</body>
</html>

<script type="text/javascript">
    function updateMachine() {
        var id = $("#id").val();
        var machineName = $("#machineName").val();
        var dollName = $("#dollName").val();
        var ipAddress = $("#ipAddress").val();
        var machineImg = $("#machineImg").val();
        var dollImg = $("#dollImg").val();
        var video1 = $("#video1").val();
        var video2 = $("#video2").val();
        var video3 = $("#video3").val();
        var gameMoney = $("#gameMoney").val();
        $.ajax({
            type: "POST",
            data: {
                id: 1,
                machineName: machineName,
                dollName: dollName,
                ipAddress: ipAddress,
                machineImg: machineImg,
                dollImg: dollImg,
                video1: video1,
                video2: video2,
                video3: video3,
                gameMoney: gameMoney
            },
            url: "/admin/machine/updateMachine",
            success: function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                } else {
                    alert("操作失败");
                }
            },
            error: function (data) {
                alert("操作失败");
            }
        });
    }
</script>